---
---

<!-- box -->
<div
  class="hidden sm:flex w-full justify-center items-start mt-4 sm:justify-between md:items-center md:mt-0"
>
  <img
    class="relative w-52 lg:w-72 mb-16 lg:mb-20 pl-8 sm:pl-0"
    src="/assets/images/SkillBox1.png"
    alt="Skill Box"
    id="skillBox1"
  />
  <img
    class="relative w-52 lg:w-72 mt-16 lg:mt-20 pr-8 sm:pr-0"
    src="/assets/images/SkillBox2.png"
    alt="Skill Box"
    id="skillBox2"
  />
</div>
