---
---

<footer class="w-full relative bottom-4 z-40">
  <div
    class="w-4/5 2xl:w-[70%] mx-auto flex justify-center items-center md:justify-between md:items-end transition-all duration-200 ease-in-out"
  >
    <div class="hidden md:flex md:flex-col gap-4">
      <h4 class="text-[14px] xl:text-base text-p givonic-reg">Socials</h4>
      <ul class="flex gap-6">
        <li
          class="relative w-fit block after:block after:content-[''] after:absolute after:h-[1px] after:bg-primary after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
        >
          <a
            href="#"
            class="givonic-reg text-base xl:text-lg hover:text-primary"
            >LinkedIn</a
          >
        </li>
        <li
          class="relative w-fit block after:block after:content-[''] after:absolute after:h-[1px] after:bg-primary after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
        >
          <a
            href="#"
            class="givonic-reg text-base xl:text-lg hover:text-primary"
            >Instagram</a
          >
        </li>
        <li
          class="relative w-fit block after:block after:content-[''] after:absolute after:h-[1px] after:bg-primary after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
        >
          <a
            href="#"
            class="givonic-reg text-base xl:text-lg hover:text-primary"
            >Github</a
          >
        </li>
      </ul>
    </div>

    <div class="">
      <h4 class="text-sm md:text-base xl:text-lg">
        2023<span class="text-primary">©️</span>Tresna Agustina V.1
      </h4>
    </div>
  </div>
</footer>
